{% extends "base.html" %}
{% block title %}
'Architecture Bureau ARCORE - Course Create'
{% endblock %}
{% block style %}
{% include "inc_style.html" %}
{% endblock %}
{% block header %}
{% include "inc_header.html" %}
{% endblock %}
{% block body %}
<div id="main">
    <div id="site_content">
        <br>
        <div>
            <a href="/"> to Main </a>
        </div>
        <div>
            <a href="/courses_list/?id={{id}}">Back to Course List</a>
        </div>
        <br>
        <br>
        <div>

{#
            {% if message != '' %}
                        <br>
            <h4> {{message}}</h4>
                        <br>
            {% else %}
            #}
                        <br>
            <h1> Course Creation in Category "{{name}}" </h1>
            <br>
            <form action="" method="post">
                <div class="form_settings">
                    <p>
                        <span>Course Name</span>
                        <input class="contact" type="text" name="course_name" placeholder="Course Name"/>
                    </p>

                    <!--
                    <p>
                        <span>Location</span>
                        <select name="location" id="location">
                            <option value="msk">Moscow</option>
                            <option value="spb">St.Petersburg</option>
                            <option value="ny">New York</option>
                        </select>
                    </p>
                    -->
                    <p style="padding-top: 15px">
                        <span>&nbsp;</span>
                        <input
                                class="submit"
                                type="submit"
                                name="course_submitted"
                                value="submit"
                        />
                    </p>
                </div>
            </form>
{#          {% endif %}-->              #}


        </div>

    </div>
</div>
{% endblock %}
{% block footer %}
{% include "inc_footer.html" %}
{% endblock %}