<body>
<div id="main">

    <div id="site_content">
        <div class="sidebar">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2010</h5>
            <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br/><a
                    href="#">Read more</a></p>
            <p></p>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2010</h5>
            <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br/><a
                    href="#">Read more</a></p>
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
                <li><a href="#">link 3</a></li>
                <li><a href="#">link 4</a></li>
            </ul>

            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
                <p>
                    <input class="search" type="text" name="search_field" value="Enter keywords....."/>
                    <input name="search"
                           type="image"
                           style="border: 0; margin: 0 0 -9px 5px;"
                           alt="Search" title="Search"/>
                </p>
            </form>

        </div>
        <div id="content">
            <!-- insert the page content here -->
            <h1>Архитектурное бюро ООО "АРКОРЕ"</h1>
            <p> Архитектурное бюро ООО "АРКОРЕ" предоставляет весь спектр архитектурных услуг: проектирование жилых и
              промышленных зданий, проектирование коттеджей и планирование коттеджных поселков, модернизация зданий и
              дизайн интерьеров.
              Мы также разрабатываем проекты внутреннего и наружного освещения. Разработка решений наружного освещения р
              объектов и зданий, внутреннего освещения жилых и рабочих зон являются отличительной особенностью нашего
              бюро.</p>
            <p>              Наше бюро обеспечивает разработку документации для всего цикла работ, начиная от проектирования зданий,
              разработки проектной и конструкторской документации,
              заканчивая согласованием проектов в надзорных органах.
              В наши проекты входят разделы
              - экологии, слаботочных и высокоточных сетей, расчет конструкции зданий,
              Бюро разрабатывает сметы материалов и работ
              Результатом работы бюро является прохождение государственной экспертизы, что является необходимым условием
              начала строительных работ.</p>
            <p>              Бюро ведет работы в соответствии с законодательством Российской Федерации и в соответсвии с имеющимися
              лицензиями и разрешениями.
              Бюро имеет лицензии на проведение работ с кодом
              Деятельность в области архитектуры,
              а также

            </p>
            <ul>
              <li>Деятельность в области инженерных изысканий,</li>
              <li>инженерно-технического проектирования,</li>
              <li>управления проектами строительства, </li>
              <li>выполнения строительного контроля и авторского надзора,</li>
              <li>предоставление технических консультаций в этих областях</li>
              <li> и другую </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>
