<body>
<div id="main">
    <div id="site_content">
        <div class="sidebar">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2010</h5>
            <p>
                2010 sees the redesign of our website. Take a look around and let us
                know what you think.<br/><a href="#">Read more</a>
            </p>
            <p></p>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2010</h5>
            <p>
                2010 sees the redesign of our website. Take a look around and let us
                know what you think.<br/><a href="#">Read more</a>
            </p>
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
                <li><a href="#">link 3</a></li>
                <li><a href="#">link 4</a></li>
            </ul>
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
                <p>
                    <input
                            class="search"
                            type="text"
                            name="search_field"
                            value="Enter keywords....."
                    />
                    <input
                            name="search"
                            type="image"
                            style="border: 0; margin: 0 0 -9px 5px"
                            alt="Search"
                            title="Search"
                    />
                </p>
            </form>
        </div>
        <div id="content">
            <!-- insert the page content here -->
            <h1>Contact Us</h1>
            <h2>Наш Адрес: </h2>
            <p>
                123060, г. Москва, ул. Маршала Рыбалко,
                <br>д. 2, корп. 6, этаж 9, к.16 офис 47
            </p>
            <h2>
                E-mail:
            </h2>

            <p>email: info@arkore.ru</p>

            <h1> Пишите нам : </h1>
            <form action="" method="post">
                <div class="form_settings">
                    <p>
                        <span>Name</span>
                        <input class="contact" type="text" name="your_name" value=""/>
                    </p>
                    <p>
                        <span>Email Address</span>
                        <input
                                class="contact"
                                type="text"
                                name="your_email"
                                value=""
                        />
                    </p>
                    <p>
                        <span>Message</span>
                        <textarea
                                class="contact textarea"
                                rows="8"
                                cols="50"
                                name="your_enquiry"
                        ></textarea>
                    </p>
                    <p>
                        <span>Location</span>
                        <!--
                        <label for="location" class="location">Your location: </label>
                        -->
                        <select name="location" id="location">
                            <option value="msk">Moscow</option>
                            <option value="spb">St.Petersburg</option>
                            <option value="ny">New York</option>
                        </select>
                    </p>
                    <p style="padding-top: 15px">
                        <span>&nbsp;</span>
                        <input
                                class="submit"
                                type="submit"
                                name="contact_submitted"
                                value="submit"
                        />
                    </p>
                </div>
            </form>
            <p>
                <br/><br/>NOTE: A contact form such as this would require some way
                of emailing the input to an email address.
            </p>
        </div>
    </div>
</div>
</body>
</html>
