{% extends "base.html" %}
{% block title %}
'Architecture Bureau ARCORE - courses'
{% endblock %}
{% block style %}
{% include "inc_style.html" %}
{% endblock %}
{% block header %}
{% include "inc_header.html" %}
{% endblock %}
{% block body %}
<div id="main">
    <div id="site_content">
        <br>
        <div>
            <h4>
                <a href="/student_create/">Create Student </a>
            </h4>
            <h4>
                <a href="/student_add/">Add Student to Course</a>
            </h4>
        </div>
        <h1>List of Students</h1>
        <div>
            {%if objects_list == [] %}
            <h4> No Students found </h4>
            {% else %}
            <ul>
                {% for item in objects_list %}
                <li>
                    {{item.name}} {{item.surname}}
                    {% for course in item.courses %}
                    {{course.name}}
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

    </div>
    </div>
    </div>
{% endblock %}
{% block footer %}
{% include "inc_footer.html" %}
{% endblock %}
